<font face="verdana,geneva" size="2">Hi,<br /><br />A candidate named $CANDIDATE_NAME has been uploaded by $USER_FNAME $USER_LNAME for the position $POSITION_NAME in TalentPool&nbsp;<br /><br /><br />TalentPool Employee Portal<br /><strong>Note:</strong> This is an auto generated email, please do not reply to this email</font>