<p><font face="verdana,geneva" size="2">Hi $EMPLOYEE_NAME,<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><font face="verdana,geneva" size="2">We are glad to inform you that $CANDIDATE_NAME has joined $COMPANY_NAME. Thank you for the referral and we look forward to your cooperation in the future as well.<br /></font><font face="verdana,geneva" size="2"><br /></font></p><p><font face="verdana,geneva" size="2">Thanks and Regards<br />Recruitment&nbsp;Team<br /></font><font face="verdana,geneva" size="2"><br />Note: This is an auto generated email, please do not reply to this email</font></p>