<p>Hi $POSITION_REQUESTED_BY,</p><p>This is to notify that the position is pending for approval.  Kindly do the needful.</p><p>Position Name: $POSITION_TITLE</p><p>Requisition Step Name: $REQUISITION_APPROVAL_STEP_NAME</p><p>Approver: $REQUISITION_APPROVAL_STEP_USER</p><p>Thanks</p><p>&nbsp;</p><p><font face="verdana,geneva" size="2">Note: This is an auto generated email, please do not reply to this email</font> </p>