<font face="verdana,geneva" size="2">Hi $EMPLOYEE_NAME,<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is to inform you that $CANDIDATE_NAME, referred by you&nbsp;for the position of $POSITION_NAME, has been rejected at the $POSITION_STEP_NAME round. Thank you for the referral and we look forward to your cooperation in the future as well.<br /><br /></font><font face="verdana,geneva" size="2">Thanks<br />Recruitment&nbsp;Team<br /><br /><strong>Note:</strong> This is an auto generated email, please do not reply to this email.</font> 