<p>Hi $BUDGET_OWNER_NAME,</p><p><br />This is to notify that a position&nbsp;for $POS_DESC_TITLE has been created or updated,&nbsp;however the&nbsp;number of vancancies now exceed the number of heads allowed in the budget.</p><p>Please take&nbsp;a look at the following<br /><br />Number of vacancies assigned to the created&nbsp;position -&nbsp;$POS_DESC_VACANCIES <br />Number of vacancies allowed in the budget - $BUDGET_HEAD_COUNT<br /><br /><br />Thank you. </p>