/* File contains reports specific CSS */

.usersFilterGrid {}
.usersFilterGrid input.usersTextFilter{width:316px;margin-bottom: -2px; }
.usersFilterGrid TD{padding:0px 0px 2px 0px;border-top:none;border-right:none;border-left:none;}
.usersFilterGrid DIV.leftGrid{width:320px; height: 80px;}
.usersFilterGrid DIV.rightGrid{width:320px;height: 100px;}
.usersFilterGrid TD.gridborder{border-bottom: 1px solid #99cc33;}
.usersFilterGrid TD.arrows{width:38px;}


.sourceFilterGrid {}
.sourceFilterGrid input.sourceTextFilter{width:316px;margin-bottom: -2px; }
.sourceFilterGrid TD{padding:0px 0px 2px 0px;border-top:none;border-right:none;border-left:none;}
.sourceFilterGrid DIV.leftGrid{width:320px; height: 100px;}
.sourceFilterGrid DIV.rightGrid{width:320px;height: 100px;}
.sourceFilterGrid TD.gridborder{border-bottom: 1px solid #99cc33;}
.sourceFilterGrid TD.arrows{width:38px;}