<font face="arial,helvetica,sans-serif"><font size="2">Hi, <br /><br />Following candidates has been selected: <br /><br /><span style="color: black; font-size: 11pt">&lt;REPEAT&gt;</span>&nbsp;<br /><span style="font-size: 11pt"><strong>&nbsp;$CANDIDATE_NAME</strong> $CANDIDATE_EMAIL_1</span></font></font><span style="font-size: 11pt"><br /><font face="arial,helvetica,sans-serif" size="2">&lt;END REPEAT&gt;</font></span> <p><span style="font-size: 11pt"><br /></span><font face="arial,helvetica,sans-serif" size="2"><em><span style="font-size: 11pt">Thanks &amp; Regards</span></em></font></p><p><font face="arial,helvetica,sans-serif" size="2"><em>$USER_FNAME</em></font></p>