BEGIN:VCALENDAR
PRODID:$PRODID
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:$METHOD
BEGIN:VEVENT
DTSTART:$DTSTART
DTEND:$DTEND
DTSTAMP:$DTSTAMP
ORGANIZER:$ORGANIZER
$ATTENDEE
TRANSP:OPAQUE
SEQUENCE:$SEQUENCE
UID:$UID
CREATED:$CREATED
DESCRIPTION:$DESCRIPTION
LAST-MODIFIED:$LAST-MODIFIED
STATUS:$STATUS
SUMMARY:$SUMMARY
PRIORITY:5
CLASS:PUBLIC$ALARAM
END:VEVENT
END:VCALENDAR