<font face="verdana,geneva" size="2">Hi,<br /><br />A candidate named $CANDIDATE_NAME has been kept on Hold for the position $POSITION_NAME in TalentPool. The Current Step for Candidate was $POSITION_STEP_NAME &nbsp;<br /><br /><br /><strong>Note:</strong> This is an auto generated email, please do not reply to this email</font>