<p>&nbsp;Hi,</p>
<p>A duplicate position was trying to be created by $USER_FNAME .</p>
<p>similar position for which similar field&nbsp; exists whose Details are as follows:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; $POSITION_DETAILS</p>
<p>This auto generated email, please do not reply to this email .</p>