<p>Hi,</p><p>&nbsp;The resume of candidate has been successfully uploaded. Details are as follows:</p><p>Candidate Name:&nbsp;$CANDIDATE_NAME </p><p>Position Name&nbsp;&nbsp; :&nbsp;$POSITION_NAME </p><p>Thanks and Regards,</p><p>&nbsp;$COMPANY_NAME</p>