<p>Hi $BUDGET_OWNER_NAME,</p><p><br />This is to notify that a position&nbsp;for $POS_DESC_TITLE has been created or updated,&nbsp;however the defined&nbsp;hire by date for this position is not within the required time range.<br /><br />Please take a look at the following:<br />Hire by date&nbsp;for the Position of $POS_DESC_TITLE - $POS_DESC_HIRE_BY_DATE<br />Time range of the budget - $BUDGET_START_DATE to $BUDGET_END_DATE<br /><br /><br />Thank you.</p>