<font face="verdana,geneva" size="2">Hi,<br /><br />$CANDIDATE_NAME has been uploaded by a vendor for $POSITION_NAME&nbsp;<br /><br /><br />TalentPool Vendor Portal<br /><strong>Note:</strong> This is an auto generated email, please do not reply to this email</font>